        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">Role</h1>
          <div class="table-responsive" ng-controller="RoleController">
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>role</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody ng-repeat="role in roles | filter:searchItem">
                <tr>
                  <td>{{$index+1}}</td>
                  <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="role.role" e-name="role" e-form="rowform" e-required>
                    {{role.role}}
                    </span>
                  </td>
                  <td>
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="save($index, role.role, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == role">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-info">Save</button>
                      <button type="button" ng-disabled="rowform.$waiting" class="btn btn-default" ng-click="rowform.$cancel()">Cancel</button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button class="btn btn-info" ng-click="rowform.$show()">Edit</button>
                      <button class="btn btn-danger" ng-click="remove($index)">Remove</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
